.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: auto;
    border: 1px solid black;
    column-count: 5;
    column-fill: balance;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    border: 1px solid black;
    width: 150px;
    text-align: center;
    height: 20px;
}
.container {
    height: 200px;
    position: relative;
    border: 0px solid green;
    
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.button{
    background-color: black;
    color: red;
}
.button:hover{
    color: black;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    text-align: center;
    font-size: 5em;
}